
.joinRoom__rooms--wrapper {
    width: 100%;
    height: auto;
    padding: 0 10px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.joinRoom__message {
    width: fit-content;
    height: 60px;
    margin: 70px auto 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;
}

.joinRoom__message p {
    color: #959dc8;
    font-family: 'inter';
    font-size: 15px;
}

@media (max-width: 1158px) {
    .joinRoom--rooms--wrapper {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }
}
