.userProfile {
  margin: 0px auto;
  margin-top: 150px;
  width: 90%;
  background: transparent;
  max-width: 800px;
  height: 80vh;
  max-height: 80vh;
  border-radius: 12px;
  @media (max-width: 769px) {
    margin-top: 100px;
  }
}

.HeadProfile {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--item-border-color);
  background: radial-gradient(
    circle,
    #101747 0%,
    var(--bg-color) 60%
  );
  height: 146px;
  border-radius: 10px;
  border: 1px, 0px, 0px, 0px;
}

.profileFriends {
  border-top: 1px solid var(--item-border-color);
  min-height: 340px;
  border-radius: 10px;
  border: 1px, 0px, 0px, 0px;
  gap: 10px;
  background: var(--bg-color);
  margin-top: 20px;
}

.ImgHeadProfileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-left: 20px;
  margin-top: -20px;
}

.profileAwards {
  /* box-shadow: 5px 4px 10px 0px #00000040; */
  border-top: 1px solid var(--item-border-color);
  height: 340px;
  background: var(--bg-color);
  border-radius: 10px;
  border: 1px, 0px, 0px, 0px;
  margin-top: 20px;
}

.ImgHeadprofile {
  border-radius: 50%;
  border: 2px solid transparent;
  outline: 2px solid var(--item-border-color);
}

.ProfileUserName {
  font-family: Lalezar;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.ProfileUserName span {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  margin-left: 8px;
  letter-spacing: 0em;
  text-align: left;
  color: #8a99e9;
}

.ProfileUserFName {
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #8a99e9;
}

.counterWinsLowsers {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-top: 10px;
}

.WinsLowssers {
  margin-right: 20px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #8a99e9;
}

@media (max-width: 465px)
{
  .ImgHeadProfileContainer {
    margin: 0px;
    justify-content: start;
    gap: 10px;

  }
  .ImgHeadProfileContainer {
    margin: 0px;
    margin-left: 10px;
    justify-content: start;
  }
  .WinsLowssers
  {
    font-size: 9px;
    margin-right: 15px;
  }
  .counterWinsLowsers {
    font-size: 9px;
    margin-top: 5px;
  }
  .ProfileUserFName {
    margin-top: 5px;
    font-size: 10px;
    width: fit-content;
    margin-top: -10px;
  }

  .ProfileUserName span {
    font-size: 8px;
    margin-left: 2px;
  }
  .ProfileUserName{
    font-size: 16px;
    padding: 0px;
    gap: 0px;
    height: fit-content;
  }
}

@media (max-width: 369px)
{
  .ImgHeadprofile{
    width: 50px;
    height: 50px;
  }
  .ProfileUserName{
    font-size: 12px;
  }
}

.btn2Fa {
  font-family: Lalezar;
  font-size: 17px;
  font-weight: 400;
  line-height: 11px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  border-radius: 7px;
  padding: 10px 20px;
  gap: 14px;
  background: linear-gradient(272.48deg, #1b266b 6.62%, #0064fb 92.24%);
  margin-bottom: 10px;
}

.inputwith {
  min-width: 30px;
  height: 40px;
  border-radius: 4px;
  font-size: 18px;
  color: white;
  border-top: 0.5px solid #0064fb;
  background: #9f9edd40;
  margin: 2px;
  text-align: center;
  @media (max-width: 769px) {
    min-width: 30px;
    height: 30px;
    font-size: 14px;
  }
}

.inputContunerr {
  background-color: transparent;
}

.Qrimg {
  width: 200px;
  height: 200px;
  animation: shadow 2.6s ease infinite;
  border: 5px solid transparent;
  border-radius: 10px;
  margin: 10px;
  outline: 2px solid var(--item-border-color);
  @media (max-width: 769px) {
    width: 140px;
    height: 140px;
  }
}

@keyframes shadow {
  0% {
    box-shadow: 0px 0px 0px 0px #099cf140;
  }
  50% {
    box-shadow: 1px 0px 10px 8px #099cf140;
  }
  100% {
    box-shadow: 0px 0px 0px 0px #099cf140;
  }
}

.QrContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  /* min-height: 800px; */
  z-index: 40;
  backdrop-filter: blur(5px) saturate(75%);
}

.QRCentent {
  max-width: 450px;
  width: 90%;
  background-color: var(--bg-color);
  border-radius: 10px;
  padding: 20px;
  border-top: 1px solid var(--item-border-color);
  flex-direction: column;
  color: white;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 10px;
  height: 620px;
  @media (max-width: 769px) {
    height: auto;
    padding-bottom: 20px;
    gap: 5px;
  }
}

.DisableContainer {
  height: 450px;
  gap: 15px;
  @media (max-width: 769px) {
    gap: 10px;
    height: 350px;
  }
}

.Qrtext,
.Qrtext a,
.Qrtext span {
  font-family: Inter;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  @media (max-width: 769px) {
    font-size: 12px;
    line-height: 16px;
  }
}

.Qrtext a {
  color: var(--hover-border-color);
  font-weight: 500;
}

.QRCentent h1 {
  font-family: Lalezar;
  font-size: 30px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  background: linear-gradient(to right, #fbfbfb, var(--hover-border-color) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @media (max-width: 769px) {
    font-size: 20px;
    line-height: 20px;
  }
}

.QRCentent h4 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 100;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  margin-top: -14px;
  margin-bottom: 10px;
  @media (max-width: 769px) {
    font-size: 12px;
    line-height: 16px;
    margin-top: -5px;
  }
}

.closeBTN {
  align-self: flex-end;
  margin-top: -10px;
  margin-right: -10px;
  /* background-color: #0064FB; */
}
