
.roomSettings__wrapper {
    margin: 150px auto 0;
    width: 90%;
    max-width: 840px;
	/* height: 100%;
	overflow-y: auto; */
}

/* h1 {
    color: #8A99E9;
	font-family: "Lalezar";
	font-size: 50px;
	font-size: 32px;
	margin: 20px 40px;
	width: fit-content;
} */