.SearchCard{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 180px;
    height: 200px;
    

    /* padding: 10px; */
    gap: 10px;
    /* background: radial-gradient(
        circle,
        var(--item-border-color) 20%,
        #040a2f 100%
      ); */
      /* background: #030824; */
      /* background: #3d436423; */
      background: var(--bg-color);
      border-radius: 10px;
      /* border-top: 1px solid var(--border-top-color); */
      border: 1px solid #535c9131;
      box-shadow: 5px 4px 10px 0px #00000040;
}



.SearchContainer{
  padding-top: 30px;
    margin-top: 20px;
    width: 100%;
    height: auto;
    overflow: auto;
    overflow-x: hidden;
    display: grid ;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    /* padding: 10px; */
    /* background: linear-gradient(
        0deg,
        #04092d 20%,
        #000000 100%
      ); */
      /* background: radial-gradient(
        circle,
        var(--item-border-color) 20%,
        #000106 100%
      ); */
    
      /* border-radius: 10px; */
      /* border-top: 1px solid var(--border-top-color);  */
       /* box-shadow: 5px 4px 10px 0px #00000040; */
}

@media (max-width: 1355px) {
    .SearchContainer{
        /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
        width: 600px;
    }
}

@media (max-width: 650px) {
    .SearchContainer{
        width: 400px;
    }
}

@media (max-width: 500px) {
  .SearchCard{
      width: 90%;
      height: 190px;
  }
  .SearchContainer{
    width: 90%;
}
}
.search-card {
    transition: transform 0.25s ease-in-out;
}

.search-card:hover {
    transform: scale(1.05);
    /* background: radial-gradient(
        circle,
        var(--item-border-color) 20%,
        #040a2f 100%
      ); */
      border-radius: 10px;
      /* border-top: 1px solid var(--border-top-color); */
      box-shadow: 5px 4px 10px 0px #00000040;
}

.InputSearch{
  padding: 5px;
  border-radius: 10px;
  border-top: 1px solid var(--border-top-color); 
  /* box-shadow: 5px 4px 10px 0px #00000040; */
}


/* Notifcation */

.NtfContainer{
  font-family: Inter;
  font-weight: 100;

  /* top: 0;
  right: 0; */
  color: rgba(240, 235, 235, 0.84);
  width: 300px;
  margin-left:  -130px;
  margin-top: 60px;
  height: auto;
  display: flex;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  padding: 10px;
  background: #061937b3;
  border-radius: 10px;
  /* border-top: 1px solid var(--border-top-color);  */
  box-shadow: 5px 4px 10px 0px #00000040;

}

.notificationList{
  display: flex;
  font-size: 14px;
  word-spacing: 2px;
  font-weight: 200;
  z-index: 1000;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
  padding: 10px;
  background: #1B1A55;
  border-radius: 10px;
  border-top: 1px solid var(--border-color); 
  /* box-shadow: 5px 4px 10px 0px #5f5d5d40; */
}
.infoNtf{
  font-size: 14px;
}

@media (max-width: 720px) {
  .NtfContainer{
    /* width: 60%; */
    margin-left: -200px;
  }
  .notificationList{
    font-size: 12px;
  }
  
}
.NtfIcon{
  border-radius:50%;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1B266B;
  border: 2px solid var(--bg-color);
  outline: 2px solid#1B266B;
}

.NumNotf{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  width:  24px;
  height: 24px;
  background: #1B266B;
  border-radius: 50%;
  border: 2px solid var(--bg-color);
  color: var(--bg-color);
}

.userNameSpan{
  font-size: 16px;
  font-weight: 200;
  color: rgb(255, 255, 255);
}