
.invite__wrapper {
    margin-top: 20px;
    height: 400px;
    width: 100%;
    background-color: #070F2B;
    border-top: solid 2px #1B266B;
    border-radius: 20px;
}

.invite__header {
    color: #8A99E9;
	font-family: "Lalezar";
	font-size: 32px;
	margin: 20px 40px;
	width: fit-content;
}

.invite__friends--wrapper {
    width: 95%;
    height: 290px;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    gap: 20px;
    overflow-x: scroll;
}

@media (max-width: 522px) {
    
    .invite__header {
        font-size: 30px;
    }
}