
.bannedCard__wrapper {
    width: 100%;
    height: 50px;
    background-color: #1B1A55;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid white; */
    border-radius: 25px;
    flex-shrink: 0;
}

.bannedCard__wrapper:hover {
    background-color: #232260;
}

.banned__info {
    display: flex;
    flex-flow: row nowrap;
    gap: 7px;
    align-items: center;
    margin-left: 5px;
}

.banned__info img {
    width: 40px;
    height: 40px;
    border-style: none;
    border-radius: 50%;
    filter: brightness(60%);
}

.bannedCard__wrapper:hover img{
    filter: brightness(100%);
}

.bannedCard__wrapper button {
    position: relative;
    width: 25px;
    height: 25px;
    border-style: none;
    border-radius: 25px;
    margin-right: 10px;
}

.url--unblock {
    position: absolute;
    background-image: url('../../../../../public/iconsProfile/unblock.svg') !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-size: 100% 100%;
    transition: .2s;
}

.banned__info p {
    color: white;
    font-family: 'Inter';
    font-size: 15px;
}