/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/styles/login/landingPage.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lalezar&display=swap');


/* body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    /* color: white; */
    /* justify-content: center;
    align-items: center; */
    /* background-image: url("/Luxury\ Navy\ Background.jpg"); */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 1.2em;
    line-height: 1.6em; */
    /* overflow: hidden; */
    
    /* backdrop-filter: blur(20px) ; */
    /* backdrop-filter: saturate(40%) blur(20px); */
/* } */ 
*{
    font-family: 'Lalezar', system-ui;
    margin: 0;
    padding: 0;
}

.bg{
    z-index: -1 ;
    position: fixed;
    width: 100vw;
    height: 100vh;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 94px;
    background: linear-gradient(0deg, #081041, #081041),
    linear-gradient(0deg, #1B266B, #1B266B);  
    border-bottom: 1px solid #1B266B;
    box-shadow: 5px 4px 10px 0px #02041D; 
}



/* .container{
    display: flex;
    height: auto;
    align-items: center;
    justify-content: space-around;
    height: calc(100vh - 94px);
    /* background-color: beige; */
/*} */
