@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');


*{
    font-family: 'Lalezar', system-ui;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}


.chat{ 
    width: 360px;
    height:  calc(100vh - 95.2px);
    top: 94px;
    left: 1074px; 
    background: linear-gradient(0deg, #081041, #081041),
                linear-gradient(0deg, #1B266B, #1B266B);
    border-left: 1px solid #1B266B;
    box-shadow: -5px 4px 10px 0px #00000040;
    float: right;
}
