@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');


*{
    font-family: 'Lalezar', system-ui;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}



.selidbarparent
{
    float: left;
}

.selidbar{
    z-index: -1;
    overflow: hidden;
    width: 306px;
    height:  calc(100vh - 95.2px);
    background:  #081041;
    margin-left: -8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slibarelementTop
{
    margin-top: 70px;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction : column;
    
}


.Sidebutton
{
    margin-top: 15px;
    width: 203px;
    height: 47px;

    border-radius: 30px;
    border-right: 1px solid #1B266B;
    box-shadow: 5px 0px 10px 0px #00000040;
    border: transparent;
    color: white ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;

    background: linear-gradient(0deg, #1B266B, #1B266B),
        linear-gradient(0deg, #0064FB, #0064FB);
    border-top: 1px solid #0064FB;
    transition: all 1.5s ease;
    display: flex;
    align-items: center;

}

.slidebarprofilebutton:hover , .Sidebutton:hover
{

    background: linear-gradient(0deg, #0064FB, #0064FB),
linear-gradient(0deg, #1ECDF8, #1ECDF8);

}
.butoonImage
{   
    padding-left: 20px;
    padding-right: 10px;
}



.ButoonSlideText
{
    padding-top: 10px;
    display: inline;
    
    

}

.slibarelementBotton
{
    
    width: 90%;
    height: 300px;
    border-top: 1px solid #0064FB;
    margin-left: auto;
    margin-right: auto;
  
    display: flex;
}



.sidebarprofile
{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction : column; 
    padding-top: 30px;    
}


.slidebarprofilebutton
{
    margin-top: 10px;
    width: 115px;
    height: 39px;
    border: transparent;
    border-radius: 10px; 
    border-top: 1px solid #0064FB;
    box-shadow: 5px 4px 10px 0px #00000040;
    background: linear-gradient(0deg, #1B266B, #1B266B),
        linear-gradient(0deg, #0064FB, #0064FB);
    color: #FFFFFF;
}

.usernametext
{
    width: 65px;
    height: 24px;
    top: 795px;
    left: 116px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #FFFFFF;

}